.projectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    margin-top: 4em;
    width: 1000px;
    height: 600px;
    background-color: #202535;
}

.wizardHeader {
}

.wizardHeaderTitle {
    color: #fff;
    padding: 10px;
    text-decoration: underline;
    font-weight: 400;
}
