.projectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    margin-top: 3em;
    width: 1100px;
    height: 600px;
    background-color: #131517;
    padding: 15px;
}

.wizardHeaderTitle {
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
}

.projectOptions {
    margin-top: 20px;
    display: flex;
}

.errorText {
    color: red;
}

/* Options styles */
.optionLabel {
    color: #fff;
    font-size: 18px;
}

.underlineInputWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}
