.projectWrapper {
    width: 1400px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContainer {
    width: 1100px;
    height: 600px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #131517;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wizardHeader {
    width: 100%;
}

.wizardHeaderTitle {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

.projectOptions {
    margin-top: 20px;
    display: flex;
}

.errorText {
    color: red;
}

/* Options styles */
.optionLabel {
    color: #fff;
    font-size: 18px;
}

.underlineInputWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}
