.underlineInput {
    border: none;
    border-bottom: #c5c5bd 2px solid;
    background: #161923;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0.5rem 0;
    color: rgba(255, 255, 255, 0.2);
    outline: none;

    &:active,
    &:focus {
        border-bottom: #f40552 2px solid;
    }
}
