.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-image: url('https://beta.iodine.gg/6c5fd.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #161923;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

    -webkit-app-region: drag;
}

.headerTitle {
    color: #fff;
}

.headerOptions {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 10px;
}

.closeButton {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #f40552;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-app-region: no-drag;
}

.minimizeButton {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #f4c805;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-app-region: no-drag;
}

.maximizeButton {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: #05f461;
    border-radius: 50%;
    -webkit-app-region: no-drag;
}
