.container {
    margin-top: 20px;
    width: 100%;
    flex: auto;

    .skipText {
        color: #f40552;
        font-size: 8px;
        height: 90%;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleSection {
        display: flex;
        margin-top: 1rem;
        flex-direction: column;

        label {
            color: #fff;
            font-weight: normal;
        }
    }

    .packageList {
        display: flex;
        padding: 2rem;
        margin-top: 1rem;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba(14, 14, 16, 0.5);
        overflow-y: scroll;
        height: 262px;

        .package {
            display: flex;
            margin-bottom: 1rem;
            align-items: center;

            h1 {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 16px;
                margin-left: 0.5rem;
                font-weight: normal;
            }
        }
    }
}
